/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  width: 100%;
  display: flex;
}
