{
  "@context": "http://iiif.io/api/presentation/2/context.json",
  "@type": "sc:Manifest",
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/manifest",
  "label": "Solegget : billedbok",
  "metadata": [
  {
  "label": "Tittel",
  "value": "Solegget : billedbok"
  },
  {
  "label": "Original tittel",
  "value": "Solægget"
  },
  {
  "label": "Forfatter",
  "value": "Beskow, Elsa"
  },
  {
  "label": "Publisert",
  "value": "[Oslo]: Damm, 1972"
  },
  {
  "label": "Emne",
  "value": "eventyr | årstider | billedbøker"
  },
  {
  "label": "Språk",
  "value": "Norsk (Bokmål) | Svensk"
  },
  {
  "label": "ISBN",
  "value": "8251797004"
  },
  {
  "label": "Varig lenke",
  "value": "<a href='http://urn.nb.no/URN:NBN:no-nb_digibok_2013062138033' target='_blank'>http://urn.nb.no/URN:NBN:no-nb_digibok_2013062138033</a>"
  },
  {
  "label": "Medietype",
  "value": "Bøker"
  },
  {
  "label": "Dewey",
  "value": "839.73"
  }
  ],
  "license": "https://beta.nb.no/lisens/copyright",
  "attribution": "This is a test attribution",
  "service": {
  "@context": "http://iiif.io/api/search/0/context.json",
  "@id": "https://api.nb.no:443/catalog/v1/contentsearch/0bca092be9f64312eb2b6b0a8456c9a8/search",
  "profile": "http://iiif.io/api/search/0/search"
  },
  "sequences": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/sequence/normal",
  "@type": "sc:Sequence",
  "label": "Current Page Order",
  "viewingHint": "paged",
  "canvases": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C1",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_C1/full/72,0/0/native.jpg",
  "height": 3862,
  "width": 4748,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_C1",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_C1",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_C1",
  "protocol": "http://iiif.io/api/image",
  "width": 4748,
  "height": 3862,
  "sizes": [
  {
  "width": 2374,
  "height": 1931
  },
  {
  "width": 1187,
  "height": 965
  },
  {
  "width": 593,
  "height": 482
  },
  {
  "width": 296,
  "height": 241
  },
  {
  "width": 148,
  "height": 120
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3862,
  "width": 4748
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C1"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_I1",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_I1/full/72,0/0/native.jpg",
  "height": 3744,
  "width": 4654,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_I1",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_I1",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_I1",
  "protocol": "http://iiif.io/api/image",
  "width": 4654,
  "height": 3744,
  "sizes": [
  {
  "width": 2327,
  "height": 1872
  },
  {
  "width": 1163,
  "height": 936
  },
  {
  "width": 581,
  "height": 468
  },
  {
  "width": 290,
  "height": 234
  },
  {
  "width": 145,
  "height": 117
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3744,
  "width": 4654
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_I1"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0001",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0001/full/72,0/0/native.jpg",
  "height": 3704,
  "width": 4612,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0001",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0001",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0001",
  "protocol": "http://iiif.io/api/image",
  "width": 4612,
  "height": 3704,
  "sizes": [
  {
  "width": 2306,
  "height": 1852
  },
  {
  "width": 1153,
  "height": 926
  },
  {
  "width": 576,
  "height": 463
  },
  {
  "width": 288,
  "height": 231
  },
  {
  "width": 144,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3704,
  "width": 4612
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0001"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0002",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0002/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0002",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0002",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0002",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0002"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0003",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0003/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0003",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0003",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0003",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0003"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0004",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0004/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0004",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0004",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0004",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0004"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0005",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0005/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0005",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0005",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0005",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0005"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0006",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0006/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0006",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0006",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0006",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0006"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0007",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0007/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0007",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0007",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0007",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0007"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0008",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0008/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0008",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0008",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0008",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0008"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0009",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0009/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0009",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0009",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0009",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0009"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0010",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0010/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0010",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0010",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0010",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0010"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0011",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0011/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0011",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0011",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0011",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0011"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0012",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0012/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0012",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0012",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0012",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0012"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0013",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0013/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0013",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0013",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0013",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0013"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0014",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0014/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0014",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0014",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0014",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0014"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0015",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0015/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0015",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0015",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0015",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0015"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0016",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0016/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0016",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0016",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0016",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0016"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0017",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0017/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0017",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0017",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0017",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0017"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0018",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0018/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0018",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0018",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0018",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0018"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0019",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0019/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0019",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0019",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0019",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0019"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0020",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0020/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0020",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0020",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0020",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0020"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0021",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0021/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0021",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0021",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0021",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0021"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0022",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0022/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0022",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0022",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0022",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0022"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0023",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0023/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0023",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0023",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0023",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0023"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0024",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0024/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0024",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0024",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0024",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0024"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0025",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0025/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0025",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0025",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0025",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0025"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0026",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0026/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0026",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0026",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0026",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0026"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0027",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0027/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0027",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0027",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0027",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0027"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0028",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0028/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0028",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0028",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0028",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0028"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0029",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0029/full/72,0/0/native.jpg",
  "height": 3708,
  "width": 4560,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0029",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0029",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0029",
  "protocol": "http://iiif.io/api/image",
  "width": 4560,
  "height": 3708,
  "sizes": [
  {
  "width": 2280,
  "height": 1854
  },
  {
  "width": 1140,
  "height": 927
  },
  {
  "width": 570,
  "height": 463
  },
  {
  "width": 285,
  "height": 231
  },
  {
  "width": 142,
  "height": 115
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3708,
  "width": 4560
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0029"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0030",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0030/full/72,0/0/native.jpg",
  "height": 3671,
  "width": 4718,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_0030",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_0030",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_0030",
  "protocol": "http://iiif.io/api/image",
  "width": 4718,
  "height": 3671,
  "sizes": [
  {
  "width": 2359,
  "height": 1835
  },
  {
  "width": 1179,
  "height": 917
  },
  {
  "width": 589,
  "height": 458
  },
  {
  "width": 294,
  "height": 229
  },
  {
  "width": 147,
  "height": 114
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3671,
  "width": 4718
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0030"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_I3",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_I3/full/72,0/0/native.jpg",
  "height": 3720,
  "width": 4620,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_I3",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_I3",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_I3",
  "protocol": "http://iiif.io/api/image",
  "width": 4620,
  "height": 3720,
  "sizes": [
  {
  "width": 2310,
  "height": 1860
  },
  {
  "width": 1155,
  "height": 930
  },
  {
  "width": 577,
  "height": 465
  },
  {
  "width": 288,
  "height": 232
  },
  {
  "width": 144,
  "height": 116
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3720,
  "width": 4620
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_I3"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C3",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_C3/full/72,0/0/native.jpg",
  "height": 3862,
  "width": 4807,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_C3",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_C3",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_C3",
  "protocol": "http://iiif.io/api/image",
  "width": 4807,
  "height": 3862,
  "sizes": [
  {
  "width": 2403,
  "height": 1931
  },
  {
  "width": 1201,
  "height": 965
  },
  {
  "width": 600,
  "height": 482
  },
  {
  "width": 300,
  "height": 241
  },
  {
  "width": 150,
  "height": 120
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3862,
  "width": 4807
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C3"
  }
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C2",
  "@type": "sc:Canvas",
  "label": "-",
  "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_C2/full/72,0/0/native.jpg",
  "height": 3862,
  "width": 117,
  "images": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/annotation/URN:NBN:no-nb_digibok_2013062138033_C2",
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource": {
  "@id": "URN:NBN:no-nb_digibok_2013062138033_C2",
  "@type": "dctypes:Image",
  "format": "image/jpeg",
  "service": {
  "@context": "http://iiif.io/api/image/2/context.json",
  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2013062138033_C2",
  "protocol": "http://iiif.io/api/image",
  "width": 117,
  "height": 3862,
  "sizes": [
  {
  "width": 58,
  "height": 1931
  },
  {
  "width": 29,
  "height": 965
  },
  {
  "width": 14,
  "height": 482
  },
  {
  "width": 7,
  "height": 241
  },
  {
  "width": 3,
  "height": 120
  }
  ],
  "tiles": [
  {
  "width": 1024,
  "scaleFactors": [
  1,
  2,
  4,
  8,
  16,
  32
  ]
  }
  ],
  "profile": "http://iiif.io/api/image/2/level1.json",
  "service": {
  "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
  "profile": "http://iiif.io/api/annex/service/physdim",
  "physicalScale": 0.0025,
  "physicalUnits": "in"
  }
  },
  "height": 3862,
  "width": 117
  },
  "on": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C2"
  }
  ]
  }
  ]
  }
  ],
  "structures": [
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/range/r-0",
  "@type": "sc:Range",
  "label": "Framside",
  "canvases": [
  "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C1"
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/range/r-1",
  "@type": "sc:Range",
  "label": "Tittelside",
  "canvases": [
  "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_0003"
  ]
  },
  {
  "@id": "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/range/r-2",
  "@type": "sc:Range",
  "label": "Bakside",
  "canvases": [
  "https://api.nb.no/catalog/v1/iiif/0bca092be9f64312eb2b6b0a8456c9a8/canvas/URN:NBN:no-nb_digibok_2013062138033_C3"
  ]
  }
  ]
  }