{ "@context": "http://iiif.io/api/presentation/2/context.json", "@type": "sc:Manifest", "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/manifest{?fields}",
"label": "Lys i Mørket : om den bekjendte Hexeproces paa Modum med et Par Ord til Sognepræsten Hr. Tejlman", "metadata":
[ { "label": "Tittel", "value": "Lys i Mørket : om den bekjendte Hexeproces paa Modum med et Par Ord til Sognepræsten Hr.
Tejlman" }, { "label": "Forfatter", "value": "Holst, Christian" }, { "label": "Omhandler", "value": "Teilman, Christian"
}, { "label": "Publisert", "value": "Zacharias Breum, 1799" }, { "label": "Emne", "value": "" }, { "label": "Språk", "value":
"Flerspråklig | Dansk | Norsk (Bokmål)" }, { "label": "Varig lenke", "value": "<a href='http://urn.nb.no/URN:NBN:no-nb_digibok_2009031110003'
  target='_blank'>http://urn.nb.no/URN:NBN:no-nb_digibok_2009031110003</a>" }, { "label": "Medietype", "value": "Bøker" } ],
"license": "https://beta.nb.no/lisens/cc0", "attribution": "Du kan kopiere, endre, spre, vise og fremføre dette verket, selv
for kommersielle formål, uten å spørre om tillatelse.", "service": { "@context": "http://iiif.io/api/search/0/context.json",
"@id": "https://api.nb.no:443/catalog/v1/contentsearch/817efbdd89d536a3c3a5588400851b61/search", "profile": "http://iiif.io/api/search/0/search"
}, "sequences": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/sequence/normal", "@type":
"sc:Sequence", "label": "Current Page Order", "viewingHint": "paged", "rendering": [ { "@id": "http://www.nb.no/services/downloader?urn=URN:NBN:no-nb_digibok_2009031110003",
"format": "application/pdf", "label": "Last ned som PDF" } ], "canvases": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C1",
"@type": "sc:Canvas", "label": "53", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_C1/full/72,0/0/native.jpg",
"height": 2728, "width": 1648, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_C1",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_C1", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_C1",
"protocol": "http://iiif.io/api/image", "width": 1648, "height": 2728, "sizes": [ { "width": 824, "height": 1364 }, { "width":
412, "height": 682 }, { "width": 206, "height": 341 }, { "width": 103, "height": 170 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2728,
"width": 1648 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C1"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_I1",
"@type": "sc:Canvas", "label": "56", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_I1/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_I1",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_I1", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_I1",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_I1"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0001",
"@type": "sc:Canvas", "label": "1", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0001/full/72,0/0/native.jpg",
"height": 2448, "width": 1504, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0001",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0001", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0001",
"protocol": "http://iiif.io/api/image", "width": 1504, "height": 2448, "sizes": [ { "width": 752, "height": 1224 }, { "width":
376, "height": 612 }, { "width": 188, "height": 306 }, { "width": 94, "height": 153 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2448,
"width": 1504 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0001"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0002",
"@type": "sc:Canvas", "label": "2", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0002/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0002",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0002", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0002",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0002"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0003",
"@type": "sc:Canvas", "label": "3", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0003/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0003",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0003", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0003",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0003"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0004",
"@type": "sc:Canvas", "label": "4", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0004/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0004",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0004", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0004",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0004"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0005",
"@type": "sc:Canvas", "label": "5", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0005/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0005",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0005", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0005",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0005"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0006",
"@type": "sc:Canvas", "label": "6", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0006/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0006",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0006", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0006",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0006"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0007",
"@type": "sc:Canvas", "label": "7", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0007/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0007",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0007", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0007",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0007"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0008",
"@type": "sc:Canvas", "label": "8", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0008/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0008",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0008", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0008",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0008"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0009",
"@type": "sc:Canvas", "label": "9", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0009/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0009",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0009", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0009",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0009"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0010",
"@type": "sc:Canvas", "label": "10", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0010/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0010",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0010", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0010",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0010"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0011",
"@type": "sc:Canvas", "label": "11", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0011/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0011",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0011", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0011",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0011"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0012",
"@type": "sc:Canvas", "label": "12", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0012/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0012",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0012", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0012",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0012"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0013",
"@type": "sc:Canvas", "label": "13", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0013/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0013",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0013", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0013",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0013"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0014",
"@type": "sc:Canvas", "label": "14", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0014/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0014",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0014", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0014",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0014"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0015",
"@type": "sc:Canvas", "label": "15", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0015/full/72,0/0/native.jpg",
"height": 2392, "width": 1376, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0015",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0015", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0015",
"protocol": "http://iiif.io/api/image", "width": 1376, "height": 2392, "sizes": [ { "width": 688, "height": 1196 }, { "width":
344, "height": 598 }, { "width": 172, "height": 299 }, { "width": 86, "height": 149 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2392,
"width": 1376 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0015"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0016",
"@type": "sc:Canvas", "label": "16", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0016/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0016",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0016", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0016",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0016"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0017",
"@type": "sc:Canvas", "label": "17", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0017/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0017",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0017", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0017",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0017"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0018",
"@type": "sc:Canvas", "label": "18", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0018/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0018",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0018", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0018",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0018"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0019",
"@type": "sc:Canvas", "label": "19", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0019/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0019",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0019", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0019",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0019"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0020",
"@type": "sc:Canvas", "label": "20", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0020/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0020",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0020", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0020",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0020"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0021",
"@type": "sc:Canvas", "label": "21", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0021/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0021",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0021", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0021",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0021"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0022",
"@type": "sc:Canvas", "label": "22", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0022/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0022",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0022", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0022",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0022"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0023",
"@type": "sc:Canvas", "label": "23", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0023/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0023",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0023", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0023",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0023"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0024",
"@type": "sc:Canvas", "label": "24", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0024/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0024",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0024", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0024",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0024"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0025",
"@type": "sc:Canvas", "label": "25", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0025/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0025",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0025", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0025",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0025"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0026",
"@type": "sc:Canvas", "label": "26", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0026/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0026",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0026", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0026",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0026"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0027",
"@type": "sc:Canvas", "label": "27", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0027/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0027",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0027", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0027",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0027"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0028",
"@type": "sc:Canvas", "label": "28", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0028/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0028",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0028", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0028",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0028"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0029",
"@type": "sc:Canvas", "label": "29", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0029/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0029",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0029", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0029",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0029"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0030",
"@type": "sc:Canvas", "label": "30", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0030/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0030",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0030", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0030",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0030"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0031",
"@type": "sc:Canvas", "label": "31", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0031/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0031",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0031", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0031",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0031"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0032",
"@type": "sc:Canvas", "label": "32", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0032/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0032",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0032", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0032",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0032"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0033",
"@type": "sc:Canvas", "label": "33", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0033/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0033",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0033", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0033",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0033"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0034",
"@type": "sc:Canvas", "label": "34", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0034/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0034",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0034", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0034",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0034"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0035",
"@type": "sc:Canvas", "label": "35", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0035/full/72,0/0/native.jpg",
"height": 2352, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0035",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0035", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0035",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2352, "sizes": [ { "width": 696, "height": 1176 }, { "width":
348, "height": 588 }, { "width": 174, "height": 294 }, { "width": 87, "height": 147 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2352,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0035"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0036",
"@type": "sc:Canvas", "label": "36", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0036/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0036",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0036", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0036",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0036"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0037",
"@type": "sc:Canvas", "label": "37", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0037/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0037",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0037", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0037",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0037"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0038",
"@type": "sc:Canvas", "label": "38", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0038/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0038",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0038", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0038",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0038"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0039",
"@type": "sc:Canvas", "label": "39", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0039/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0039",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0039", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0039",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0039"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0040",
"@type": "sc:Canvas", "label": "40", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0040/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0040",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0040", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0040",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0040"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0041",
"@type": "sc:Canvas", "label": "41", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0041/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0041",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0041", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0041",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0041"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0042",
"@type": "sc:Canvas", "label": "42", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0042/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0042",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0042", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0042",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0042"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0043",
"@type": "sc:Canvas", "label": "43", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0043/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0043",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0043", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0043",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0043"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0044",
"@type": "sc:Canvas", "label": "44", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0044/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0044",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0044", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0044",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0044"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0045",
"@type": "sc:Canvas", "label": "45", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0045/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0045",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0045", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0045",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0045"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0046",
"@type": "sc:Canvas", "label": "46", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0046/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0046",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0046", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0046",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0046"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0047",
"@type": "sc:Canvas", "label": "47", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0047/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0047",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0047", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0047",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0047"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0048",
"@type": "sc:Canvas", "label": "48", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0048/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0048",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0048", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0048",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0048"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0049",
"@type": "sc:Canvas", "label": "49", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0049/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0049",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0049", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0049",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0049"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0050",
"@type": "sc:Canvas", "label": "50", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0050/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0050",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0050", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0050",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0050"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0051",
"@type": "sc:Canvas", "label": "51", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0051/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0051",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0051", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0051",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0051"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0052",
"@type": "sc:Canvas", "label": "52", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0052/full/72,0/0/native.jpg",
"height": 2376, "width": 1392, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_0052",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_0052", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_0052",
"protocol": "http://iiif.io/api/image", "width": 1392, "height": 2376, "sizes": [ { "width": 696, "height": 1188 }, { "width":
348, "height": 594 }, { "width": 174, "height": 297 }, { "width": 87, "height": 148 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2376,
"width": 1392 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0052"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_I3",
"@type": "sc:Canvas", "label": "57", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_I3/full/72,0/0/native.jpg",
"height": 2448, "width": 1504, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_I3",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_I3", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_I3",
"protocol": "http://iiif.io/api/image", "width": 1504, "height": 2448, "sizes": [ { "width": 752, "height": 1224 }, { "width":
376, "height": 612 }, { "width": 188, "height": 306 }, { "width": 94, "height": 153 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2448,
"width": 1504 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_I3"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C3",
"@type": "sc:Canvas", "label": "55", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_C3/full/72,0/0/native.jpg",
"height": 2728, "width": 1648, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_C3",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_C3", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_C3",
"protocol": "http://iiif.io/api/image", "width": 1648, "height": 2728, "sizes": [ { "width": 824, "height": 1364 }, { "width":
412, "height": 682 }, { "width": 206, "height": 341 }, { "width": 103, "height": 170 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2728,
"width": 1648 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C3"
} ] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C2",
"@type": "sc:Canvas", "label": "54", "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_C2/full/72,0/0/native.jpg",
"height": 2728, "width": 88, "images": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/annotation/URN:NBN:no-nb_digibok_2009031110003_C2",
"@type": "oa:Annotation", "motivation": "sc:painting", "resource": { "@id": "URN:NBN:no-nb_digibok_2009031110003_C2", "@type":
"dctypes:Image", "format": "image/jpeg", "service": { "@context": "http://iiif.io/api/image/2/context.json", "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2009031110003_C2",
"protocol": "http://iiif.io/api/image", "width": 88, "height": 2728, "sizes": [ { "width": 44, "height": 1364 }, { "width":
22, "height": 682 }, { "width": 11, "height": 341 }, { "width": 5, "height": 170 } ], "tiles": [ { "width": 1024, "scaleFactors":
[ 1, 2, 4, 8, 16 ] } ], "profile": "http://iiif.io/api/image/2/level1.json", "service": { "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
"profile": "http://iiif.io/api/annex/service/physdim", "physicalScale": 0.0025, "physicalUnits": "in" } }, "height": 2728,
"width": 88 }, "on": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C2"
} ] } ] } ], "structures": [ { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/range/r-0", "@type":
"sc:Range", "label": "Framside", "canvases": [ "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C1"
] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/range/r-1", "@type": "sc:Range", "label":
"Tittelside", "canvases": [ "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_0003"
] }, { "@id": "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/range/r-2", "@type": "sc:Range", "label":
"Bakside", "canvases": [ "https://api.nb.no/catalog/v1/iiif/817efbdd89d536a3c3a5588400851b61/canvas/URN:NBN:no-nb_digibok_2009031110003_C3"
] } ] }