a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.06);
}

h1 {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.6);
  color: hsla(0, 0%, 100%, 0.87);
}

.active {
  font-weight: 600;
}

.logo-iiif {
  margin-right: 8px;
}
