<h3>Manifest</h3>
<mat-nav-list>
  <a
    *ngFor="let manifest of manifests"
    mat-list-item
    [routerLink]="['demo']"
    [queryParams]="{ manifestUri: manifest.uri }"
    routerLinkActive="active"
    (click)="close()"
  >
    {{ manifest.label }}
  </a>
  <a
    mat-list-item
    href="https://www.nb.no/items/f080d07ddce0f9ebd2615c44e040197d?manifest=https://api.nb.no/catalog/v1/iiif/f080d07ddce0f9ebd2615c44e040197d/manifest"
    target="_blank"
  >
    <img
      src="assets/logo-iiif.png"
      alt="IIIF Drag-n-drop"
      class="logo-iiif"
    /><span>Drag and drop</span>
  </a>
  <a
    mat-list-item
    href="https://www.nb.no/items/f080d07ddce0f9ebd2615c44e040197d?manifest=https://api.nb.no/catalog/v1/iiif/f080d07ddce0f9ebd2615c44e040197d/manifest&canvas=https://api.nb.no/catalog/v1/iiif/f080d07ddce0f9ebd2615c44e040197d/canvas/URN:NBN:no-nb_digibok_2011070412003_0020"
    target="_blank"
  >
    <img
      src="assets/logo-iiif.png"
      alt="IIIF Drag-n-drop"
      class="logo-iiif"
    /><span>Drag and drop with canvas</span>
  </a>
</mat-nav-list>
