<button
  mat-icon-button
  [mat-menu-trigger-for]="themeMenu"
  matTooltip="Select a theme!"
  aria-label="Theme picker"
  tabindex="-1"
>
  <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu
  class="docs-theme-picker-menu"
  #themeMenu="matMenu"
  hasBackdrop="false"
>
  <mat-grid-list cols="2">
    @for (theme of themes; track theme.name) {
      <mat-grid-tile>
        <div mat-menu-item (click)="installTheme(theme)">
          <div class="docs-theme-picker-swatch">
            @if (currentTheme.name === theme.name) {
              <mat-icon class="docs-theme-chosen-icon">check_circle</mat-icon>
            }
            <div
              class="docs-theme-picker-primary"
              [style.background]="theme.primary"
            ></div>
          </div>
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>
</mat-menu>
