.docs-theme-picker-swatch {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.docs-theme-chosen-icon {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.docs-theme-picker-primary {
  width: 100%;
  height: 100%;
}

.mat-mdc-menu-content {
  padding: 8px !important;
}
