<mat-toolbar class="gap-2" color="primary">
  <button mat-icon-button (click)="toggle()" aria-label="Menu">
    <mat-icon class="mat-24">menu</mat-icon>
  </button>
  <div class="flex w-full">
    <form
      (ngSubmit)="onSubmit()"
      #form="ngForm"
      class="flex w-full items-center gap-2"
    >
      <h1 class="cdk-visually-hidden">DemoWeb</h1>
      <mat-form-field
        subscriptSizing="dynamic"
        class="max-w-[800px] grow"
        appearance="outline"
      >
        <input
          matInput
          aria-label="Paste the URL of a IIIF manifest here"
          placeholder="Paste the URL of a IIIF manifest here"
          autocomplete="off"
          name="manifestUri"
          [(ngModel)]="manifestUri"
        />
      </mat-form-field>
      <button type="submit" mat-flat-button>VIEW</button>
    </form>
  </div>
  <demo-theme-picker></demo-theme-picker>
</mat-toolbar>
