<mat-toolbar class="gap-2" color="primary">
  <button mat-icon-button (click)="toggle()" aria-label="Menu">
    <mat-icon class="mat-24">menu</mat-icon>
  </button>
  <div class="flex justify-start w-full">
    <form
      (ngSubmit)="onSubmit()"
      #form="ngForm"
      class="flex gap-2 items-center w-full"
    >
      <h1 class="cdk-visually-hidden">DemoWeb</h1>
      <input
        class="manifest-uri grow max-w-[800px]"
        aria-label="Paste the URL of a IIIF manifest here"
        placeholder="Paste the URL of a IIIF manifest here"
        autocomplete="off"
        [(ngModel)]="manifestUri"
        name="manifestUri"
      />
      <button type="submit" mat-raised-button color="accent">VIEW</button>
    </form>
  </div>
  <demo-theme-picker></demo-theme-picker>
</mat-toolbar>
