<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <div>
    <button mat-icon-button (click)="toggle()">
      <mat-icon class="mat-24">menu</mat-icon>
    </button>
  </div>
  <div fxFlex="grow" fxFlex.gt-sm="500px">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <input
          fxFlex
          class="manifest-uri"
          placeholder="Paste the URL of a IIIF manifest here"
          autocomplete="off"
          [(ngModel)]="manifestUri"
          name="manifestUri"
        />
        <button type="submit" mat-raised-button color="accent">VIEW</button>
      </div>
    </form>
  </div>
  <div fxFlex="grow" class="theme-picker">
    <demo-theme-picker></demo-theme-picker>
  </div>
</mat-toolbar>
