mat-sidenav {
  width: 240px;
}

.demo-content {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 64px);

  @media only screen and (max-width: 599px) {
    height: calc(100% - 56px);
  }
}
