$blue-green-palette: (
  primary: (
    0: #000000,
    10: #00174c,
    20: #002979,
    25: #003391,
    30: #003da9,
    35: #0c48be,
    40: #2456cb,
    50: #4470e5,
    60: #628aff,
    70: #8ca8ff,
    80: #b4c5ff,
    90: #dbe1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #081943,
    20: #202e59,
    25: #2b3964,
    30: #374571,
    35: #43517d,
    40: #4f5d8a,
    50: #6775a4,
    60: #818fc0,
    70: #9caadc,
    80: #b7c5f8,
    90: #dbe1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #002204,
    20: #003909,
    25: #00460e,
    30: #005312,
    35: #076019,
    40: #1b6d24,
    50: #38873a,
    60: #53a252,
    70: #6dbd6a,
    80: #88d982,
    90: #a3f69c,
    95: #c8ffbf,
    98: #ecffe4,
    99: #f6fff0,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1b22,
    20: #2e3038,
    25: #393b43,
    30: #45464f,
    35: #51525a,
    40: #5d5e66,
    50: #76767f,
    60: #8f9099,
    70: #aaaab4,
    80: #c6c6d0,
    90: #e2e2ec,
    95: #f0f0fa,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
    4: #0c0e15,
    6: #11131a,
    12: #1e1f27,
    17: #282a31,
    22: #33343c,
    24: #373941,
    87: #d9d9e3,
    92: #e8e7f2,
    94: #ededf7,
    96: #f3f3fd,
  ),
  neutral-variant: (
    0: #000000,
    10: #181b27,
    20: #2d303c,
    25: #383b48,
    30: #434654,
    35: #4f525f,
    40: #5b5e6c,
    50: #747685,
    60: #8d909f,
    70: #a8aaba,
    80: #c3c6d6,
    90: #e0e1f2,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$light-blue-mint-palette: (
  primary: (
    0: #000000,
    10: #001e2b,
    20: #003548,
    25: #004058,
    30: #004d67,
    35: #005977,
    40: #006688,
    50: #0080aa,
    60: #009cce,
    70: #3fb7ea,
    80: #75d1ff,
    90: #c2e8ff,
    95: #e2f3ff,
    98: #f5faff,
    99: #fbfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001e2b,
    20: #083446,
    25: #174052,
    30: #254b5e,
    35: #31576a,
    40: #3e6377,
    50: #577c90,
    60: #7096ab,
    70: #8bb0c6,
    80: #a6cce2,
    90: #c2e8ff,
    95: #e2f3ff,
    98: #f5faff,
    99: #fbfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #08200d,
    20: #1e3620,
    25: #29412b,
    30: #344d35,
    35: #3f5840,
    40: #4b654c,
    50: #637e63,
    60: #7c987c,
    70: #97b295,
    80: #b1ceb0,
    90: #cdeacb,
    95: #dbf9d9,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #171c1f,
    20: #2c3134,
    25: #373c40,
    30: #42474b,
    35: #4e5357,
    40: #5a5f63,
    50: #73787c,
    60: #8c9195,
    70: #a7acb0,
    80: #c2c7cb,
    90: #dfe3e7,
    95: #edf1f5,
    98: #f6fafe,
    99: #fbfcff,
    100: #ffffff,
    4: #0a0f12,
    6: #0f1417,
    12: #1b2023,
    17: #262b2e,
    22: #303539,
    24: #353a3d,
    87: #d6dadf,
    92: #e4e9ed,
    94: #eaeef3,
    96: #f0f4f8,
  ),
  neutral-variant: (
    0: #000000,
    10: #131d23,
    20: #283238,
    25: #333d43,
    30: #3e484f,
    35: #4a545a,
    40: #556067,
    50: #6e7980,
    60: #889299,
    70: #a2adb4,
    80: #bdc8d0,
    90: #d9e4ec,
    95: #e8f2fa,
    98: #f5faff,
    99: #fbfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
