$blue-green-palette: (
  primary: (
    0: #000000,
    10: #001b3f,
    20: #002f66,
    25: #003a7a,
    30: #00458f,
    35: #0050a5,
    40: #005cbb,
    50: #0174e9,
    60: #448fff,
    70: #7cabff,
    80: #abc7ff,
    90: #d7e2ff,
    95: #ecf0ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #131b2c,
    20: #283042,
    25: #333b4d,
    30: #3f4759,
    35: #4a5265,
    40: #565e71,
    50: #6f778b,
    60: #8991a5,
    70: #a3abc1,
    80: #bec6dd,
    90: #dae2f9,
    95: #edf0ff,
    98: #f9f9ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00210b,
    20: #003918,
    25: #00461e,
    30: #005225,
    35: #00602c,
    40: #006d33,
    50: #018942,
    60: #33a45a,
    70: #52c072,
    80: #6edd8b,
    90: #8bfaa5,
    95: #c4ffcb,
    98: #eaffe9,
    99: #f5fff2,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #181c23,
    20: #2d3038,
    25: #383b43,
    30: #44474f,
    35: #4f525b,
    40: #5b5e67,
    50: #747780,
    60: #8e909a,
    70: #a9abb4,
    80: #c4c6d0,
    90: #e0e2ec,
    95: #eff0fa,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
    4: #0b0e15,
    6: #10131a,
    12: #1c2027,
    17: #272a31,
    22: #32353c,
    24: #363941,
    87: #d8d9e4,
    92: #e6e8f2,
    94: #ecedf8,
    96: #f1f3fd,
  ),
  neutral-variant: (
    0: #000000,
    10: #161c27,
    20: #2b303d,
    25: #363b48,
    30: #414754,
    35: #4d5260,
    40: #595e6c,
    50: #717785,
    60: #8b919f,
    70: #a6abba,
    80: #c1c6d6,
    90: #dde2f2,
    95: #ecf0ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
