@use '@angular/material' as mat;
@use 'themes/default-theme' as defaultTheme;
@use './themes/theming.scss' as theming;

@tailwind utilities;

@include mat.elevation-classes();
@include mat.app-background();

body {
  @include theming.components-theme(defaultTheme.$theme);
}

html,
body,
demo-app,
mat-sidenav-container,
.demo-root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.docs-theme-picker-menu {
  overflow: hidden !important;
}
