@import '~@angular/material/theming';
@include mat-core();

$cyan-primary: mat-palette($mat-cyan, A200, A100, A400);
$cyan-accent: mat-palette($mat-light-green, A200, A100, A400);
$cyan-theme: mat-dark-theme($cyan-primary, $cyan-accent);
.cyan-theme {
  @include angular-material-theme($cyan-theme);
}

$blue-primary: mat-palette($mat-light-blue, 800, 100, 700);
$blue-accent: mat-palette($mat-light-blue, 900, 100, 700);
$blue-theme: mat-light-theme($blue-primary, $blue-accent);
.blue-theme {
  @include angular-material-theme($blue-theme);
}

$brown-primary: mat-palette($mat-brown, 700, 500, 900);
$brown-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$brown-theme: mat-light-theme($brown-primary, $brown-accent);
.brown-theme {
  @include angular-material-theme($brown-theme);
}

$purple-primary: mat-palette($mat-deep-purple);
$purple-accent: mat-palette($mat-amber, A200, A100, A400);
$purple-theme: mat-dark-theme($purple-primary, $brown-accent);
.purple-theme {
  @include angular-material-theme($purple-theme);
}
