@use '@angular/material' as mat;
@include mat.core();

@import '../../../libs/ngx-mime/ngx-mime.theme.scss';

$mime-typography: mat.define-typography-config(
  $font-family: 'DM Sans',
);
@include mat.all-component-typographies($mime-typography);

$brown-primary: mat.define-palette(mat.$brown-palette, 700, 500, 900);
$brown-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$brown-theme: mat.define-light-theme(
  (
    color: (
      primary: $brown-primary,
      accent: $brown-accent,
    ),
    typography: $mime-typography,
  )
);
@include ngx-mime-theme($brown-theme);
@include mat.all-component-themes($brown-theme);

$blue-primary: mat.define-palette(mat.$light-blue-palette, 800, 100, 700);
$blue-accent: mat.define-palette(mat.$light-blue-palette, 900, 100, 700);
$blue-theme: mat.define-light-theme(
  (
    color: (
      primary: $blue-primary,
      accent: $blue-accent,
    ),
  )
);
.blue-theme {
  @include ngx-mime-theme($blue-theme);
  @include mat.all-component-colors($blue-theme);
}

$cyan-primary: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$cyan-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);
$cyan-theme: mat.define-dark-theme(
  (
    color: (
      primary: $cyan-primary,
      accent: $cyan-accent,
    ),
  )
);
.cyan-theme {
  @include ngx-mime-theme($cyan-theme);
  @include mat.all-component-colors($cyan-theme);
}

$purple-primary: mat.define-palette(mat.$deep-purple-palette);
$purple-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$purple-theme: mat.define-dark-theme(
  (
    color: (
      primary: $purple-primary,
      accent: $purple-accent,
    ),
  )
);
.purple-theme {
  @include ngx-mime-theme($purple-theme);
  @include mat.all-component-colors($purple-theme);
}
