@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();

@import '../../../libs/ngx-mime/ngx-mime.theme.scss';

mat.$light-theme-foreground-palette: (
  base: black,
  divider: rgba(black, 0.12),
  dividers: rgba(black, 0.12),
  disabled: rgba(black, 0.38),
  disabled-button: rgba(black, 0.26),
  disabled-text: rgba(black, 0.38),
  elevation: black,
  hint-text: rgba(black, 0.38),
  secondary-text: rgba(black, 0.54),
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38)
);

$brown-primary: mat.define-palette(mat.$brown-palette, 700, 500, 900);
$brown-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$brown-theme: mat.define-light-theme(
  (
    color: (
      primary: $brown-primary,
      accent: $brown-accent,
    ),
  )
);
.brown-theme {
  $my-app-theme-custom: map-merge(
    $brown-theme,
    (
      foreground: mat.$light-theme-foreground-palette,
    )
  );
  @include ngx-mime-theme($my-app-theme-custom);
  @include mat.all-component-colors($my-app-theme-custom);
}

$blue-primary: mat.define-palette(mat.$light-blue-palette, 800, 100, 700);
$blue-accent: mat.define-palette(mat.$light-blue-palette, 900, 100, 700);
$blue-theme: mat.define-light-theme(
  (
    color: (
      primary: $blue-primary,
      accent: $blue-accent,
    ),
  )
);
$my-app-theme-custom: map-merge(
  $blue-theme,
  (
    foreground: mat.$light-theme-foreground-palette,
  )
);
@include ngx-mime-theme($my-app-theme-custom);
@include mat.all-component-themes($my-app-theme-custom);

$cyan-primary: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$cyan-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);
$cyan-theme: mat.define-dark-theme(
  (
    color: (
      primary: $cyan-primary,
      accent: $cyan-accent,
    ),
  )
);
.cyan-theme {
  @include ngx-mime-theme($cyan-theme);
  @include mat.all-legacy-component-colors($cyan-theme);
}

$purple-primary: mat.define-palette(mat.$deep-purple-palette);
$purple-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$purple-theme: mat.define-dark-theme(
  (
    color: (
      primary: $purple-primary,
      accent: $brown-accent,
    ),
  )
);
.purple-theme {
  @include ngx-mime-theme($purple-theme);
  @include mat.all-component-colors($purple-theme);
}
