/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../../../libs/ngx-mime/ngx-mime-theme' as ngx-mime;

@tailwind utilities;

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
  @include ngx-mime.theme($theme);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

mime-viewer,
app-root {
  height: 100%;
  width: 100%;
  display: flex;
}
