@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();

mat.$light-theme-foreground-palette: (
  base: black,
  divider: rgba(black, 0.12),
  dividers: rgba(black, 0.12),
  disabled: rgba(black, 0.38),
  disabled-button: rgba(black, 0.26),
  disabled-text: rgba(black, 0.38),
  elevation: black,
  hint-text: rgba(black, 0.38),
  secondary-text: rgba(black, 0.54),
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.9),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38)
);

$blue-primary: mat.define-palette(mat.$light-blue-palette, 800, 100, 700);
$blue-accent: mat.define-palette(mat.$light-blue-palette, 900, 100, 700);
$blue-theme: mat.define-light-theme($blue-primary, $blue-accent);

@include mat.all-legacy-component-themes($blue-theme);
