{
  "@context": "http://iiif.io/api/presentation/2/context.json",
  "@type": "sc:Manifest",
  "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/manifest{?fields,profile}",
  "label": "Brevs. 348 Brev fra Cather, Willa (1876-1947) til Undset, Sigrid (1882-1949)",
  "metadata": [
    { "label": "Tilgang", "value": "Tilgang for alle" },
    {
      "label": "Tittel",
      "value": "Brevs. 348 Brev fra Cather, Willa (1876-1947) til Undset, Sigrid (1882-1949)"
    },
    { "label": "Dato", "value": "24.12.1941" },
    {
      "label": "Andre opplysninger",
      "value": "Poststempelets år. NBdigital: DokID: 14280\n"
    },
    { "label": "Kilde for metadata", "value": "hanske.nb.no (14280)" },
    { "label": "Medietype", "value": "Brev og manuskripter" },
    {
      "label": "Varig lenke",
      "value": "<a href=\"https://urn.nb.no/URN:NBN:no-nb_digimanus_14280\" target=\"_blank\">https://urn.nb.no/URN:NBN:no-nb_digimanus_14280</a>"
    },
    {
      "label": "",
      "value": "<a href=\"https://www.nb.no/items/10ca37a8595f4a63dd033dbfa4a130bc?manifest=https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/manifest\" target=\"_blank\"><img src=\"https://www.nb.no/content/uploads/2018/08/logo-iiif.png\" alt=\"IIIF Drag-n-drop\"></a>"
    }
  ],
  "license": "https://www.nb.no/lisens/ccbyncnd",
  "attribution": "<span>Du kan dele, kopiere, distribuere og spre dette verket så lenge du krediterer opphavspersonen korrekt og ikke bruker verket kommersielt. Dersom du remixer, bearbeider eller bygger på verket, kan du ikke distribuere det endrede materialet.<br/><br/><img src=\"https://static.nb.no/images/license/ccbyncnd_88x31.png\"/></span>",
  "service": {
    "@context": "http://iiif.io/api/search/0/context.json",
    "@id": "https://api.nb.no:443/catalog/v1/contentsearch/10ca37a8595f4a63dd033dbfa4a130bc/search",
    "profile": "http://iiif.io/api/search/0/search"
  },
  "thumbnail": {
    "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0001/full/0,200/0/native.jpg",
    "@type": "dctypes:Image",
    "format": "image/jpeg",
    "service": {
      "@context": "http://iiif.io/api/image/2/context.json",
      "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0001",
      "protocol": "http://iiif.io/api/image",
      "profile": "http://iiif.io/api/image/2/level1.json"
    }
  },
  "sequences": [
    {
      "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/sequence/normal",
      "@type": "sc:Sequence",
      "label": "Current Page Order",
      "viewingHint": "paged",
      "rendering": [
        {
          "@id": "https://www.nb.no/services/downloader?urn=URN:NBN:no-nb_digimanus_14280",
          "format": "application/pdf",
          "label": "Last ned som PDF"
        }
      ],
      "canvases": [
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0001",
          "@type": "sc:Canvas",
          "seeAlso": [{
            "@id": "http://localhost:8080/catalog/v1/metadata/10ca37a8595f4a63dd033dbfa4a130bc/altos/digimanus_14280_0001",
            "format": "application/alto+xml",
            "profile": "http://www.loc.gov/standards/alto"
          }],
          "label": "1",
          "height": 2843,
          "width": 2194,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/annotation/URN:NBN:no-nb_digimanus_14280_0001",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0001/full/full/0/native.jpg",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0001",
                  "protocol": "http://iiif.io/api/image",
                  "width": 2194,
                  "height": 2843,
                  "sizes": [
                    { "width": 1097, "height": 1421 },
                    { "width": 548, "height": 710 },
                    { "width": 274, "height": 355 },
                    { "width": 137, "height": 177 }
                  ],
                  "tiles": [
                    { "width": 1024, "scaleFactors": [1, 2, 4, 8, 16] }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/services/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/services/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 2843,
                "width": 2194
              },
              "on": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0001"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0002",
          "@type": "sc:Canvas",
          "seeAlso": [{
            "@id": "https://api.nb.no:443/catalog/v1/metadata/10ca37a8595f4a63dd033dbfa4a130bc/altos/URN:NBN:no-nb_digimanus_14280_0002",
            "format": "application/alto+xml",
            "profile": "http://www.loc.gov/standards/alto"
          }],
          "label": "2",
          "height": 2843,
          "width": 4137,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/annotation/URN:NBN:no-nb_digimanus_14280_0002",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0002/full/full/0/native.jpg",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0002",
                  "protocol": "http://iiif.io/api/image",
                  "width": 4137,
                  "height": 2843,
                  "sizes": [
                    { "width": 2068, "height": 1421 },
                    { "width": 1034, "height": 710 },
                    { "width": 517, "height": 355 },
                    { "width": 258, "height": 177 },
                    { "width": 129, "height": 88 }
                  ],
                  "tiles": [
                    { "width": 1024, "scaleFactors": [1, 2, 4, 8, 16, 32] }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/services/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/services/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 2843,
                "width": 4137
              },
              "on": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0002"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0003",
          "@type": "sc:Canvas",
          "seeAlso": [{
            "@id": "https://api.nb.no:443/catalog/v1/metadata/10ca37a8595f4a63dd033dbfa4a130bc/altos/URN:NBN:no-nb_digimanus_14280_0003",
            "format": "application/alto+xml",
            "profile": "http://www.loc.gov/standards/alto"
          }],
          "label": "3",
          "height": 2843,
          "width": 2187,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/annotation/URN:NBN:no-nb_digimanus_14280_0003",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0003/full/full/0/native.jpg",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0003",
                  "protocol": "http://iiif.io/api/image",
                  "width": 2187,
                  "height": 2843,
                  "sizes": [
                    { "width": 1093, "height": 1421 },
                    { "width": 546, "height": 710 },
                    { "width": 273, "height": 355 },
                    { "width": 136, "height": 177 }
                  ],
                  "tiles": [
                    { "width": 1024, "scaleFactors": [1, 2, 4, 8, 16] }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/services/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/services/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 2843,
                "width": 2187
              },
              "on": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0003"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0004",
          "@type": "sc:Canvas",
          "seeAlso": [{
            "@id": "https://api.nb.no:443/catalog/v1/metadata/10ca37a8595f4a63dd033dbfa4a130bc/altos/URN:NBN:no-nb_digimanus_14280_0004",
            "format": "application/alto+xml",
            "profile": "http://www.loc.gov/standards/alto"
          }],
          "label": "4",
          "height": 1596,
          "width": 2226,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/annotation/URN:NBN:no-nb_digimanus_14280_0004",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0004/full/full/0/native.jpg",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0004",
                  "protocol": "http://iiif.io/api/image",
                  "width": 2226,
                  "height": 1596,
                  "sizes": [
                    { "width": 1113, "height": 798 },
                    { "width": 556, "height": 399 },
                    { "width": 278, "height": 199 },
                    { "width": 139, "height": 99 }
                  ],
                  "tiles": [
                    { "width": 1024, "scaleFactors": [1, 2, 4, 8, 16] }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/services/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/services/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 1596,
                "width": 2226
              },
              "on": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0004"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0005",
          "@type": "sc:Canvas",
          "seeAlso": [{
            "@id": "https://api.nb.no:443/catalog/v1/metadata/10ca37a8595f4a63dd033dbfa4a130bc/altos/URN:NBN:no-nb_digimanus_14280_0005",
            "format": "application/alto+xml",
            "profile": "http://www.loc.gov/standards/alto"
          }],
          "label": "5",
          "height": 1596,
          "width": 2226,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/annotation/URN:NBN:no-nb_digimanus_14280_0005",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0005/full/full/0/native.jpg",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digimanus_14280_0005",
                  "protocol": "http://iiif.io/api/image",
                  "width": 2226,
                  "height": 1596,
                  "sizes": [
                    { "width": 1113, "height": 798 },
                    { "width": 556, "height": 399 },
                    { "width": 278, "height": 199 },
                    { "width": 139, "height": 99 }
                  ],
                  "tiles": [
                    { "width": 1024, "scaleFactors": [1, 2, 4, 8, 16] }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/services/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/services/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 1596,
                "width": 2226
              },
              "on": "https://api.nb.no/catalog/v1/iiif/10ca37a8595f4a63dd033dbfa4a130bc/canvas/URN:NBN:no-nb_digimanus_14280_0005"
            }
          ]
        }
      ]
    }
  ]
}
