{
  "@context": "http://iiif.io/api/presentation/2/context.json",
  "@type": "sc:Manifest",
  "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/manifest{?fields}",
  "label": "New travels into the interior parts of Africa : by the way of the Cape of Good Hope, in the years 1783, 84 and 85. Vol. 3",
  "metadata": [
    {
      "label": "Tittel",
      "value": "New travels into the interior parts of Africa : by the way of the Cape of Good Hope, in the years 1783, 84 and 85. Vol. 3"
    },
    {
      "label": "Forfatter",
      "value": "Le Vaillant, François"
    },
    {
      "label": "Publisert",
      "value": "printed for G.G. and J. Robinson, 1796"
    },
    {
      "label": "Emne",
      "value": "reisebeskrivelser"
    },
    {
      "label": "Språk",
      "value": "Engelsk | Fransk"
    },
    {
      "label": "Varig lenke",
      "value": "<a href='http://urn.nb.no/URN:NBN:no-nb_digibok_2015012124005' target='_blank'>http://urn.nb.no/URN:NBN:no-nb_digibok_2015012124005</a>"
    },
    {
      "label": "Medietype",
      "value": "Bøker"
    }
  ],
  "license": "https://beta.nb.no/lisens/cc0",
  "attribution": "This is a test attribution",
  "service": {
    "@context": "http://iiif.io/api/search/0/context.json",
    "@id": "http://lh:4040/catalog/v1/contentsearch/iiif/search",
    "profile": "http://iiif.io/api/search/0/search"
  },
  "sequences": [
    {
      "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/sequence/normal",
      "@type": "sc:Sequence",
      "label": "Current Page Order",
      "viewingHint": "individuals",
      "rendering": [
        {
          "@id": "http://www.nb.no/services/downloader?urn=URN:NBN:no-nb_digibok_2015012124005",
          "format": "application/pdf",
          "label": "Last ned som PDF"
        }
      ],
      "canvases": [
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_C1",
          "@type": "sc:Canvas",
          "label": "533",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_C1/full/72,0/0/native.jpg",
          "height": 3181,
          "width": 1983,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_C1",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_C1",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_C1",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1983,
                  "height": 3181,
                  "sizes": [
                    {
                      "width": 991,
                      "height": 1590
                    },
                    {
                      "width": 495,
                      "height": 795
                    },
                    {
                      "width": 247,
                      "height": 397
                    },
                    {
                      "width": 123,
                      "height": 198
                    },
                    {
                      "width": 61,
                      "height": 99
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16,
                        32
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0024999999999999996,
                    "physicalUnits": "in"
                  }
                },
                "height": 3181,
                "width": 1983
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_C1"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_I1",
          "@type": "sc:Canvas",
          "label": "536",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_I1/full/72,0/0/native.jpg",
          "height": 3072,
          "width": 1855,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_I1",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_I1",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_I1",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1855,
                  "height": 3072,
                  "sizes": [
                    {
                      "width": 927,
                      "height": 1536
                    },
                    {
                      "width": 463,
                      "height": 768
                    },
                    {
                      "width": 231,
                      "height": 384
                    },
                    {
                      "width": 115,
                      "height": 192
                    },
                    {
                      "width": 57,
                      "height": 96
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16,
                        32
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3072,
                "width": 1855
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_I1"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0001",
          "@type": "sc:Canvas",
          "label": "-",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0001/full/72,0/0/native.jpg",
          "height": 3072,
          "width": 1856,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0001",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0001",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0001",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1856,
                  "height": 3072,
                  "sizes": [
                    {
                      "width": 928,
                      "height": 1536
                    },
                    {
                      "width": 464,
                      "height": 768
                    },
                    {
                      "width": 232,
                      "height": 384
                    },
                    {
                      "width": 116,
                      "height": 192
                    },
                    {
                      "width": 58,
                      "height": 96
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16,
                        32
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0024999999999999996,
                    "physicalUnits": "in"
                  }
                },
                "height": 3072,
                "width": 1856
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0001"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0002",
          "@type": "sc:Canvas",
          "label": "-",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0002/full/72,0/0/native.jpg",
          "height": 3072,
          "width": 1855,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0002",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0002",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0002",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1855,
                  "height": 3072,
                  "sizes": [
                    {
                      "width": 927,
                      "height": 1536
                    },
                    {
                      "width": 463,
                      "height": 768
                    },
                    {
                      "width": 231,
                      "height": 384
                    },
                    {
                      "width": 115,
                      "height": 192
                    },
                    {
                      "width": 57,
                      "height": 96
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16,
                        32
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3072,
                "width": 1855
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0002"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0003",
          "@type": "sc:Canvas",
          "label": "1",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0003/full/72,0/0/native.jpg",
          "height": 3072,
          "width": 1856,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0003",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0003",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0003",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1856,
                  "height": 3072,
                  "sizes": [
                    {
                      "width": 928,
                      "height": 1536
                    },
                    {
                      "width": 464,
                      "height": 768
                    },
                    {
                      "width": 232,
                      "height": 384
                    },
                    {
                      "width": 116,
                      "height": 192
                    },
                    {
                      "width": 58,
                      "height": 96
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16,
                        32
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0024999999999999996,
                    "physicalUnits": "in"
                  }
                },
                "height": 3072,
                "width": 1856
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0003"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0004",
          "@type": "sc:Canvas",
          "label": "2",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0004/full/72,0/0/native.jpg",
          "height": 3049,
          "width": 1843,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0004",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0004",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0004",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1843,
                  "height": 3049,
                  "sizes": [
                    {
                      "width": 921,
                      "height": 1524
                    },
                    {
                      "width": 460,
                      "height": 762
                    },
                    {
                      "width": 230,
                      "height": 381
                    },
                    {
                      "width": 115,
                      "height": 190
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3049,
                "width": 1843
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0004"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0005",
          "@type": "sc:Canvas",
          "label": "3",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0005/full/72,0/0/native.jpg",
          "height": 3048,
          "width": 1844,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0005",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0005",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0005",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1844,
                  "height": 3048,
                  "sizes": [
                    {
                      "width": 922,
                      "height": 1524
                    },
                    {
                      "width": 461,
                      "height": 762
                    },
                    {
                      "width": 230,
                      "height": 381
                    },
                    {
                      "width": 115,
                      "height": 190
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3048,
                "width": 1844
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0005"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0006",
          "@type": "sc:Canvas",
          "label": "4",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0006/full/72,0/0/native.jpg",
          "height": 3049,
          "width": 1843,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0006",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0006",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0006",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1843,
                  "height": 3049,
                  "sizes": [
                    {
                      "width": 921,
                      "height": 1524
                    },
                    {
                      "width": 460,
                      "height": 762
                    },
                    {
                      "width": 230,
                      "height": 381
                    },
                    {
                      "width": 115,
                      "height": 190
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3049,
                "width": 1843
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0006"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0007",
          "@type": "sc:Canvas",
          "label": "5",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0007/full/72,0/0/native.jpg",
          "height": 3048,
          "width": 1844,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0007",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0007",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0007",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1844,
                  "height": 3048,
                  "sizes": [
                    {
                      "width": 922,
                      "height": 1524
                    },
                    {
                      "width": 461,
                      "height": 762
                    },
                    {
                      "width": 230,
                      "height": 381
                    },
                    {
                      "width": 115,
                      "height": 190
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3048,
                "width": 1844
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0007"
            }
          ]
        },
        {
          "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0008",
          "@type": "sc:Canvas",
          "label": "6",
          "thumbnail": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0008/full/72,0/0/native.jpg",
          "height": 3049,
          "width": 1843,
          "images": [
            {
              "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/annotation/URN:NBN:no-nb_digibok_2015012124005_0008",
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "resource": {
                "@id": "URN:NBN:no-nb_digibok_2015012124005_0008",
                "@type": "dctypes:Image",
                "format": "image/jpeg",
                "service": {
                  "@context": "http://iiif.io/api/image/2/context.json",
                  "@id": "https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2015012124005_0008",
                  "protocol": "http://iiif.io/api/image",
                  "width": 1843,
                  "height": 3049,
                  "sizes": [
                    {
                      "width": 921,
                      "height": 1524
                    },
                    {
                      "width": 460,
                      "height": 762
                    },
                    {
                      "width": 230,
                      "height": 381
                    },
                    {
                      "width": 115,
                      "height": 190
                    }
                  ],
                  "tiles": [
                    {
                      "width": 1024,
                      "scaleFactors": [
                        1,
                        2,
                        4,
                        8,
                        16
                      ]
                    }
                  ],
                  "profile": "http://iiif.io/api/image/2/level1.json",
                  "service": {
                    "@context": "http://iiif.io/api/annex/service/physdim/1/context.json",
                    "profile": "http://iiif.io/api/annex/service/physdim",
                    "physicalScale": 0.0025,
                    "physicalUnits": "in"
                  }
                },
                "height": 3049,
                "width": 1843
              },
              "on": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0008"
            }
          ]
        }
      ]
    }
  ],
  "structures": [
    {
      "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/range/r-0",
      "@type": "sc:Range",
      "label": "Framside",
      "canvases": [
        "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_C1"
      ]
    },
    {
      "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/range/r-1",
      "@type": "sc:Range",
      "label": "Tittelside",
      "canvases": [
        "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_0001"
      ]
    },
    {
      "@id": "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/range/r-2",
      "@type": "sc:Range",
      "label": "Bakside",
      "canvases": [
        "https://api.nb.no/catalog/v1/iiif/dc5b3091a03ead42f34937d2de988dd5/canvas/URN:NBN:no-nb_digibok_2015012124005_C3"
      ]
    }
  ]
}
