/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'themes/palettes' as palettes;
@use '../../../libs/ngx-mime/ngx-mime.theme.scss' as ngx-mime;

@import "tailwindcss";

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
  @include ngx-mime.ngx-mime-theme($theme);

  .ngx-mime-dark-theme {
    @include ngx-mime.ngx-mime-theme($dark-theme);
    @include mat.all-component-colors($dark-theme);
  }
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

mime-viewer {
  height: 100%;
  width: 100%;
  display: flex;
}
